<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>{$cate_data.seo_title}</title>
		<meta name="keywords" content="{$cate_data.seo_keywords}" />
		<meta name="description" content="{$cate_data.seo_description}"/>
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/css.css"/>
	</head>
	<body>
		{include file="gywm/head"}

			<div class="container">
				<div class="row box">
					<h3>{$cate_data.typename}</h3>
				</div>
				<div class="row box box1">
					{:htmlspecialchars_decode($cate_data.child.content)}
					<!-- <p class="qut">海威华芯以先进的化合物半导体制造技术为本，坚持精益求精的理念，追求细节和零缺陷，通过全员创新及持续改善，提供卓越品质的产品与服务，达成客户的全面满意。</p>
					<div class="system">
						<img src="__INDEX__/img/qua1.png" >
					</div> -->
					<!-- 认证证书 -->
					<div class="certificate">
						<h4>{if condition="$lang=='en'"}System certification{else}体系认证证书{/if}</h4>
						<div class="wrap">
							{volist name="$cate_data.child.img" id="v"}
							<dl>
								<dt><img src="{$v.image_url}" title="{$v.intro}"></dt>
								<dd>{$v.intro}</dd>
							</dl>

							{/volist}
							<!-- <dl>
								<dt><img src="__INDEX__/img/qua3.png" ></dt>
								<dd> IECQ QC080000:2017有害物质过程管理体系认证（英文）</dd>
							</dl> -->
						</div>
					</div>
				</div>
			</div>
	
			{include file="common/footer"}
	
	
		<script src="__INDEX__/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__INDEX__/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__INDEX__/js/swiper/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__INDEX__/js/scroll.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
