{include file=head}
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/public_media.css"/>

			<div class="banner">
				<img src="img/about_banner.png" >
			</div>
			<div class="container">
				<div class="row content">
					<div class="col info_box">
						<div class="about_info">
							<h3>公司简介</h3>
							<div class="cont">
						   成都海威华芯科技有限公司位于天府新区，是国内率先提供六英吋砷化镓集成电路（GaAs MMIC）的纯晶圆代工（Foundry）服务的制造企业。<br /><br />
							海威华芯拥有完整的技术团队、先进的GaAs集成电路制造技术和生产设备，其“六英吋GaAs集成电路Foundry线” 是国家支持的重点产业化项目，在国际国内具有重要的战略意义。
							</div>
						</div>
					</div>
					<div class="col about_img">
						<img src="img/about1.png" >
					</div>
				</div>
			</div>
			<div class="container contents">
				<div class="row content">
					<div class="col-md-6 imgs" style="background-image: url(img/about2.png);">
					</div>
					<div class="col-md-6 info">
						<h3>公司荣誉</h3>
						<div class="cont">
					   成都海威华芯科技有限公司位于天府新区，是国内率先提供六英吋砷化镓集成电路（GaAs MMIC）的纯晶圆代工（Foundry）服务的制造企业。<br /><br />
						海威华芯拥有完整的技术团队、先进的GaAs集成电路制造技术和生产设备，其“六英吋GaAs集成电路Foundry线” 是国家支持的重点产业化项目，在国际国内具有重要的战略意义。
						</div>
					</div>
				</div>
				<div class="row content">
					<div class="col-md-6 info">
						<h3>品质管理</h3>
						<div class="cont">
					   成都海威华芯以先进的化合物半导体制造技术为本，坚持精益求精的理念，追求细节和零缺陷，通过全员创新及持续改善，提供卓越品质的产品与服务，达成客户的全面满意......
						</div>
					</div>
					<div class="col-md-6 imgs" style="background-image: url(img/about3.png);"></div>
				</div>
				<div class="row content">
					<div class="col-md-6 imgs" style="background-image: url(img/about4.png);">
					</div>
					<div class="col-md-6 info">
						<h3>环境安全</h3>
						<div class="cont">
						以对环境和社会负责任和积极影响的方式运作，致力于新型半导体制造，我们始终遵守适用的法规和客户要求。<br /><br />

						以清洁生产和零灾害作为本公司的社会责任。公司在污染防治、节能减排、灾害预防等方面拥有先进的设施设备和管理团队。期望通过持续改善的活动，激发员工环境、安全与健康意识，
						强化公司的营运风险管理，确保公司的可持续发展。并力做到社会一流企业，与环境友好共存......
						</div>
					</div>
				</div>
				<div class="row content">
					<div class="col-md-6 info">
						<h3>公司里程碑</h3>
						<div class="cont">
					   成都海威华芯以先进的化合物半导体制造技术为本，坚持精益求精的理念，追求细节和零缺陷，通过全员创新及持续改善，提供卓越品质的产品与服务，达成客户的全面满意......
						</div>
					</div>
					<div class="col-md-6 imgs" style="background-image: url(img/about5.png);"></div>
				</div>
			</div>
		
			<div class="container">
				<!-- 底部 -->
				<footer>
					<div class="wrap">
						<div class="left">
							<img src="img/bai.png" class="bai" >
							<img src="img/qrcode.png" class="qrcode">
						</div>
						<div class="right">
							<dl>
								<dt><a href="#">关于我们</a></dt>
								<dd><a href="#">公司简介</a></dd>
								<dd><a href="#">荣誉资质</a></dd>
								<dd><a href="#">领导寄语</a></dd>
								<dd><a href="#">品质管理</a></dd>
								<dd><a href="#">环境安全</a></dd>
								<dd><a href="#">专利成果</a></dd>
								<dd><a href="#">公司里程碑</a></dd>
							</dl>
							<dl>
								<dt><a href="#">企业文化</a></dt>
								<dd><a href="#">华芯生活</a></dd>
								<dd><a href="#">福利措施</a></dd>
								<dd><a href="#">社会责任</a></dd>
								<dd><a href="#">经营目标</a></dd>
								<dd><a href="#">愿景与使命</a></dd>
								<dd><a href="#">海威华芯大学</a></dd>
								<dd><a href="#">党章宣扬</a></dd>
							</dl>
							<dl>
								<dt><a href="#">技术支持</a></dt>
								<dd><a href="#">GaAs技术</a></dd>
								<dd><a href="#">GaN技术</a></dd>
								<dd><a href="#">HBT及光电技术</a></dd>
							</dl>
							<dl>
								<dt><a href="#">产品中心</a></dt>
								<dd><a href="#">HBT及光电工艺</a></dd>
								<dd><a href="#">GaAs工艺</a></dd>
								<dd><a href="#">GaN工艺</a></dd>
							</dl>
							<dl>
								<dt><a href="#">新闻动态</a></dt>
								<dd><a href="#">企业新闻</a></dd>
								<dd><a href="#">行业资讯</a></dd>
								<dd><a href="#">媒体报道</a></dd>
							</dl>
							<dl>
								<dt><a href="#">下载中心</a></dt>
							</dl>
							<dl>
								<dt><a href="#">人才招聘</a></dt>
								<dd><a href="#">职位招聘</a></dd>
								<dd><a href="#">人才发展</a></dd>
								<dd><a href="#">加入我们</a></dd>
								<dd><a href="#">联系我们</a></dd>
							</dl>
						</div>
					</div>
					<p>©2019  成都海威华芯科技有限公司版权所有    蜀ICP备05050669号</p>
				</footer>
			</div>
		</main>
		
		<script src="js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/menu_head.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
