<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>公司简介</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="js/swiper/css/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/public_media.css"/>
		<style type="text/css">
			.swiper-container{margin-bottom:40px;}
			.swiper-slide{width: auto;height: 100%;text-align: center;}
			.swiper-slide img{width: 100%;height: 100%;}
			.swiper-button-next, .swiper-button-prev{
				width: 41px;
				height: 41px;
				border-radius: 50%;
				background-color: #2183F2;
				background-size: 50% 50%;
				margin-top: -22px;
			}
			.swiper-button-prev{left: 26%;}
			.swiper-button-next{right: 26%;}
			.swiper-slide dl{}
			.swiper-slide dt{max-height: 36.5714rem; overflow: hidden;position: relative;margin-bottom: 1.3571rem;}
			.yin{position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(17,17,17,.36);}
			.swiper-slide dd{text-align: center;color: #070707;font-size: 16px;}
		</style>
	</head>
	<body>
		<div class="left_nav">
			<img src="img/logo.png" class="logo">
			<div class="menu">
				<a href="javascript:"><img src="img/menu.png" ></a>
				<a href="javascript:"><img src="img/search.png" ></a>
				<a href="javascript:"><img src="img/web.png" ></a>
				<a href="javascript:"><img src="img/wechat.png" ></a>
				<a href="javascript:"><img src="img/link.png" ></a>
				<a href="javascript:"><img src="img/other.png" ></a>
			</div>
		</div>
		<div class="header">
			<a href="/"><img class="logo" src="img/logo.png" ></a>
			<a href="#"><img src="img/list.png" class="nav"></a>
		</div>
		<div class="mobile_nav">
			<a href="javascript:"><img src="img/menu.png" class="mobile_list_btn"></a>
			<a href="javascript:"><img src="img/search.png" ></a>
			<a href="javascript:"><img src="img/web.png" ></a>
			<a href="javascript:"><img src="img/wechat.png" ></a>
			<a href="javascript:"><img src="img/link.png" ></a>
			<a href="javascript:"><img src="img/other.png" ></a>
		</div>
		<ul class="menus mobile_menu">
			<li><a href="#">首页</a></li>
			<li><a href="#">关于我们</a></li>
			<li><a href="#">企业文化</a></li>
			<li><a href="#">技术支持</a></li>
			<li><a href="#">产品中心</a></li>
			<li><a href="#">新闻动态</a></li>
			<li><a href="#">下载中心</a></li>
			<li><a href="#">人才招聘</a></li>
		</ul>
		<main class="company">
			<nav>
				<ul>
					<li><a href="#">首页</a></li>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">企业文化</a></li>
					<li><a href="#">技术支持</a></li>
					<li><a href="#">产品中心</a></li>
					<li><a href="#">新闻动态</a></li>
					<li><a href="#">下载中心</a></li>
					<li><a href="#">人才招聘</a></li>
				</ul>
			</nav>
			<div class="banner">
				<img src="img/about_banner2.png" >
				<ul class="company_menu">
					<li><a href="#">企业简介</a></li>
					<li><a href="#">荣誉资质</a></li>
					<li><a href="#">品质管理</a></li>
					<li><a href="#">环境安全</a></li>
					<li><a href="#">专利成果</a></li>
					<li><a href="#">领导寄语</a></li>
					<li><a href="#">公司里程碑</a></li>
				</ul>
			</div>
			<div class="container">
				<div class="row box">
					<h3>公司简介</h3>
				</div>
				<div class="row box box1">
					<div class="col-md-5 desc">
						<div class="">
							成都海威华芯科技有限公司位于天府新区，是国内率先提供六英吋砷化镓集成电路（GaAs MMIC）的纯晶圆代工（Foundry）服务的制造企业。<br /><br />
							
							海威华芯拥有完整的技术团队、先进的GaAs集成电路制造技术和生产设备，其“六英吋GaAs集成电路Foundry线” 是国家支持的重点产业化项目，在国际国内具有重要的战略意义。<br /><br />
							
							在制程技术发展方面，以多元化及领先为原则，力争为客户提供完整的Foundry服务。在通讯领域海威华芯科技更专注于提供GaAs pHEMT集成电路制程技术。<br /><br />
							
							公司以维护客户利益为己任，专注于晶圆代工业务。公司的发展将牵引上下游的设计、应用和封装公司形成化合物半导体产业集群，推动地方经济发展。
						</div>
					</div>
					<div class="col-md-7 pic">
						<img src="img/company.png" >
					</div>
				</div>
			</div>
			<div class="container swipers">
				<div class="row">
					<h3>公司环境</h3>
				</div>
				<div class="row">
					<div class="swiper-container pc_swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<a href="#">
									<dl>
										<dt><img src="img/company1.png" /><div class=""></div></dt>
										<dd>公司环境</dd>
									</dl>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#">
									<dl>
										<dt><img src="img/company3.png" /><div class="yin"></div></dt>
										<dd>食堂环境</dd>
									</dl>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#">
									<dl>
										<dt><img src="img/company2.png" /><div class="yin"></div></dt>
										<dd>办公室茶水间</dd>
									</dl>
								</a>
							</div>  
						</div>
						<!-- 如果需要导航按钮 -->
						<div class="swiper-button-prev swiper-button-white"></div>
						<div class="swiper-button-next swiper-button-white"></div>
					</div>
					
					<div class="swiper-container mobile_swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<a href="#">
									<dl>
										<dt><img src="img/company1.png" /><div class=""></div></dt>
										<dd>公司环境</dd>
									</dl>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#">
									<dl>
										<dt><img src="img/company3.png" /><div class=""></div></dt>
										<dd>食堂环境</dd>
									</dl>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#">
									<dl>
										<dt><img src="img/company2.png" /><div class=""></div></dt>
										<dd>办公室茶水间</dd>
									</dl>
								</a>
							</div>  
						</div>
						<!-- 如果需要分页器 -->
						<!-- <div class="swiper-pagination"></div> -->
						<!-- 如果需要导航按钮 -->
						<div class="swiper-button-prev swiper-button-white"></div>
						<div class="swiper-button-next swiper-button-white"></div>
					</div>

				</div>
			</div>
		
			<div class="container">
				<!-- 底部 -->
				<footer>
					<div class="wrap">
						<div class="left">
							<img src="img/bai.png" class="bai" >
							<img src="img/qrcode.png" class="qrcode">
						</div>
						<div class="right">
							<dl>
								<dt><a href="#">关于我们</a></dt>
								<dd><a href="#">公司简介</a></dd>
								<dd><a href="#">荣誉资质</a></dd>
								<dd><a href="#">领导寄语</a></dd>
								<dd><a href="#">品质管理</a></dd>
								<dd><a href="#">环境安全</a></dd>
								<dd><a href="#">专利成果</a></dd>
								<dd><a href="#">公司里程碑</a></dd>
							</dl>
							<dl>
								<dt><a href="#">企业文化</a></dt>
								<dd><a href="#">华芯生活</a></dd>
								<dd><a href="#">福利措施</a></dd>
								<dd><a href="#">社会责任</a></dd>
								<dd><a href="#">经营目标</a></dd>
								<dd><a href="#">愿景与使命</a></dd>
								<dd><a href="#">海威华芯大学</a></dd>
								<dd><a href="#">党章宣扬</a></dd>
							</dl>
							<dl>
								<dt><a href="#">技术支持</a></dt>
								<dd><a href="#">GaAs技术</a></dd>
								<dd><a href="#">GaN技术</a></dd>
								<dd><a href="#">HBT及光电技术</a></dd>
							</dl>
							<dl>
								<dt><a href="#">产品中心</a></dt>
								<dd><a href="#">HBT及光电工艺</a></dd>
								<dd><a href="#">GaAs工艺</a></dd>
								<dd><a href="#">GaN工艺</a></dd>
							</dl>
							<dl>
								<dt><a href="#">新闻动态</a></dt>
								<dd><a href="#">企业新闻</a></dd>
								<dd><a href="#">行业资讯</a></dd>
								<dd><a href="#">媒体报道</a></dd>
							</dl>
							<dl>
								<dt><a href="#">下载中心</a></dt>
							</dl>
							<dl>
								<dt><a href="#">人才招聘</a></dt>
								<dd><a href="#">职位招聘</a></dd>
								<dd><a href="#">人才发展</a></dd>
								<dd><a href="#">加入我们</a></dd>
								<dd><a href="#">联系我们</a></dd>
							</dl>
						</div>
					</div>
					<p>©2019  成都海威华芯科技有限公司版权所有    蜀ICP备05050669号</p>
				</footer>
			</div>
		</main>
		
		
		
		<script src="js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/swiper/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/menu_head.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var mySwiper = new Swiper('.swiper-container.pc_swiper', {
				loop: true,
				centeredSlides: true,
				slidesPerView: 'auto',
				// loopedSlides: 3,
				// slidesPerView: 3,
				spaceBetween: 11,
				lazy: {
					loadPrevNext: true,
					loadPrevNextAmount: 3,
				},
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},

				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
				on:{
					slideChangeTransitionEnd:function(){
						let that = this;
						let slides = that.slides;
						slides.each(function(index){
							if(that.activeIndex == index){
								$(this).find('dt div').removeClass('yin');
								$(this).siblings().find('dt div').addClass('yin');
							}
						})
					}
				}
			})
			
			var myMobileSwiper = new Swiper('.swiper-container.mobile_swiper', {
				loop: true,
			
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
			})
		</script>
	</body>
</html>
