<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>{$cate_data.seo_title}</title>
		<meta name="keywords" content="{$cate_data.seo_keywords}" />
		<meta name="description" content="{$cate_data.seo_description}"/>
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/css.css"/>
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/product.css"/>
	</head>
	<body>
		{include file="cpzx/head"}
			<div class="container">
				<div class="row box">
					<h3>{$cate_data.typename}</h3>
				</div>
				<div class="row box box1">
					<div class="prod_wrap">
						{volist name="$cate_data.child" id="v"}
						<div class="cate_list">
							<h3>{$v.typename}</h3>
							<ul class="col-md-12">
								{volist name="$v.child" id="c"}
								<li>
									<a href="/cpzx_info?aid={$c.aid}&id={$v.id}">
										<div class="" style="background-image: url({$c.litpic});" ></div>
										<img src="{$c.litpic}" >
										<p>{$c.title}</p>
									</a>
								</li>
								{/volist}
							</ul>
						</div>
						<hr />
						{/volist}
					</div>
					
				</div>
			</div>
		
{include file="common/footer"}
		
		
		<script src="__INDEX__/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__INDEX__/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__INDEX__/js/scroll.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
