<div class="container">
	<footer>
		<div class="wrap">
			<div class="left">
				<img src="{$web_config.web_logo}" class="bai" >
				<img src="__INDEX__/img/qrcode.png" class="qrcode">
			</div>
			<div class="right">

			{volist name="$category" id="c"}
			<?php $dirpaths = url($c['dirpath']);?>
				<dl>
					<dt><a href="{if condition='$c.is_part == 1'}{$c.typelink}{else}

						{$dirpaths}?id={$c.id}

						{/if}">{$c.typename}</a></dt>
					{volist name="$c.child" id="v"}

					<?php $dirpath_child = url('index'.$v['dirpath']);?>

					 <dd><a href="{if condition='$v.is_part == 1'}{$v.typelink}{else}

					 	{$dirpath_child}?id={$v.id}


					 	{/if}">{$v.typename}</a></dd> 
					{/volist}
				</dl>
			{/volist}
				
			</div>
		</div>
		<p>{$web_config.web_copyright}</p>
	</footer>
</div>
</main>
		
