<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>关于我们</title>
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/public_media.css"/>
	</head>
	<body>
		<div class="left_nav">
			<img src="__INDEX__/img/logo.png" class="logo">
			<div class="menu">
				<a href="javascript:"><img src="__INDEX__/img/menu.png" ></a>
				<a href="javascript:"><img src="__INDEX__/img/search.png" ></a>
				<a href="javascript:"><img src="__INDEX__/img/web.png" ></a>
				<a href="javascript:"><img src="__INDEX__/img/wechat.png" ></a>
				<a href="javascript:"><img src="__INDEX__/img/link.png" ></a>
				<a href="javascript:"><img src="__INDEX__/img/other.png" ></a>
			</div>
		</div>
		<div class="header">
			<a href="/"><img class="logo" src="__INDEX__/img/logo.png" ></a>
			<a href="#"><img src="__INDEX__/img/list.png" class="nav"></a>
		</div>
		<div class="mobile_nav">
			<a href="javascript:"><img src="__INDEX__/img/menu.png" class="mobile_list_btn"></a>
			<a href="javascript:"><img src="__INDEX__/img/search.png" ></a>
			<a href="javascript:"><img src="__INDEX__/img/web.png" ></a>
			<a href="javascript:"><img src="__INDEX__/img/wechat.png" ></a>
			<a href="javascript:"><img src="__INDEX__/img/link.png" ></a>
			<a href="javascript:"><img src="__INDEX__/img/other.png" ></a>
		</div>

		<nav>
				<ul>
					<li><a href="/">{if condition="$lang == en"}Home{else}首页{/if}</a></li>
					{volist name="$category" id="v"}

					<li><a href='{if condition="$v.is_part == 1"}{$v.typename}{else}{$v.dirpath}?id={$v.id}{/if}'>{$v.typename}</a></li>

					{/volist}
					
				</ul>
			</nav>



		<ul class="menus mobile_menu">
			<li><a href="/">{if condition="$lang == en"}Home{else}首页{/if}</a></li>
			{volist name="$category" id="v"}
			<li><a href='{if condition="$v.is_part == 1"}{$v.typename}{else}{$v.dirpath}?id={$v.id}{/if}'>{$v.typename}</a></li>
			{/volist}
		</ul>
		<main class="about">
			<nav>
				<ul>
					<li><a href="/">{if condition="$lang == en"}Home{else}首页{/if}</a></li>
					{volist name="$category" id="v"}
					<li><a href='{if condition="$v.is_part == 1"}{$v.typename}{else}{$v.dirpath}?id={$v.id}{/if}'>{$v.typename}</a></li>
					{/volist}
				</ul>
		</nav>
	<div class="banner">
		<img src="__INDEX__/img/about_banner.png" >
	</div>