
	{include file="common/left"}
	
	<ul class="menus mobile_menu">
		<li><a href="#">{if condition="$lang == en"}Home{else}首页{/if}</a></li>
		{volist name="$category" id="v"}
		<li><a href="{$v.dirpath}?id={$v.id}">{$v.typename}</a></li>

		{/volist}
	</ul>
	<main class="company technology product" id="honor">
		<nav>
			<ul>
				<li><a href="/">{if condition="$lang == en"}Home{else}首页{/if}</a></li>
				{volist name="$category" id="v"}
				<li><a href="{$v.dirpath}?id={$v.id}">{$v.typename}</a></li>
				{/volist}
			</ul>
		</nav>
		<div class="banner">
			<img src="{$cate_data.litpic}" >
			<ul class="company_menu">
				{volist name="$cates" id="v"}
				<li><a href="/jszc_info?id={$v.id}">{$v.typename}</a></li>
				{/volist}
			</ul>
		</div>